[submodule "gullrock/thirdparty/c-logger"]
	path = gullrock/thirdparty/c-logger
	url = https://github.com/yksz/c-logger.git
[submodule "gullrock/thirdparty/hiredis"]
	path = gullrock/thirdparty/hiredis
	url = https://github.com/redis/hiredis.git
[submodule "gullrock/thirdparty/libgps"]
	path = gullrock/thirdparty/libgps
	url = https://github.com/JCube001/libgps.git
[submodule "gullrock/thirdparty/libserialport"]
	path = gullrock/thirdparty/libserialport
	url = https://github.com/sigrokproject/libserialport.git
[submodule "gullrock/thirdparty/cJSON"]
	path = gullrock/thirdparty/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "gullrock/thirdparty/RedisTimeSeries"]
	path = gullrock/thirdparty/RedisTimeSeries
	url = https://github.com/RedisTimeSeries/RedisTimeSeries.git
[submodule "gullrock/thirdparty/linux-mpu9150"]
	path = gullrock/thirdparty/linux-mpu9150
	url = https://github.com/mrbichel/linux-mpu9150.git
[submodule "gullrock/thirdparty/ansi-c-strmap"]
	path = gullrock/thirdparty/ansi-c-strmap
	url = https://github.com/CoolOppo/ansi-c-strmap.git
