<!-- Modal Shutdown-->
<div class="modal fade modal-off" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                Are you sure you want to shut down?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button name="shutdown" class="btn btn-primary" onclick="run('shutdown')">Shutdown</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Reboot-->
<div class="modal fade modal-reboot" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                Are you sure you want to reboot?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button name="reboot" class="btn btn-primary">Reboot</button>
            </div>
        </div>
    </div>
</div>
