<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Skeleton ROV</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{url_for('static', filename='src/bootstrap-4.1.3/css/bootstrap.min.css')}}">
    <!-- Leaflet -->
    <link rel="stylesheet" href="{{url_for('static', filename='src/leaflet/leaflet.css')}}">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">

</head>

<div class="container">
    <div class="mx-auto" id="stream">
        <div class="btn-toolbar float-left" role="toolbar">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-secondary"><span class="glyphicon glyphicon-camera"></span></button>
                <button type="button" class="btn btn-secondary"><span class="glyphicon glyphicon-record"></span></button>
                <button type="button" class="btn btn-secondary"><span class="glyphicon glyphicon-flash"></span></button>
            </div>
        </div>
        <div class="btn-toolbar float-right" role="toolbar">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-secondary">5</button>
                <button type="button" class="btn btn-secondary"><span class="glyphicon glyphicon-wrench"></span></button>
                <button type="button" class="btn btn-secondary"><span class="glyphicon glyphicon-off"></span></button>
            </div>
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{url_for('static', filename='src/jquery-3.3.1.min.js')}}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{url_for('static', filename='src/bootstrap-4.1.3/js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='src/raphael-2.1.4.min.js')}}"></script>

<script src="{{url_for('static', filename='src/justgage.js')}}"></script>

</html>
